/* logo in topnav */
.navbar-brand {
  display:flex;
  align-items:center;
}
.fa-home::before { content: none; }
.navbar-brand > img {
  display:inline-block;
  height:2em;
  margin-right:0.2em;
}

/* links in topnav */
.navbar-right .btn { font-weight:bold; }

/* footer */
footer { font-size:14px; }
footer .githubEditButton {
  margin-left:1em;
  margin-bottom:0;
}
.footer {
  display:flex;
  justify-content:right;
  align-items:center;
}
.fa-github {
  vertical-align:-10%;
  margin-left:0.1em;
}
