*.class
*.map
*.pyc
*.vsix

.mypy_cache/

/.eslintrc.js
/.gitattributes
/.gitignore
/.gitmodules
/.markdownlint.json
/.mocharc.json
/.npmignore
/.vscodeignore
/.webpack.config.js
/changelog.xml
/tsconfig.json

/.github/**/*
/.vscode/
/.vscode-test/
/img/**/*
/lib/**/*
/node_modules/
/out/
/schemas/
/src/
/test/
/tmp-*/
/tools/

!/.github/ISSUE_TEMPLATE/bug-report.md
!/img/logo-ltex.png
!/lib/.keep
