.eslintrc.js
.gitattributes
.gitignore
.gitmodules
.markdownlint.json
.mocharc.json
.npmignore
.vscodeignore
.webpack.config.js
changelog.xml
tsconfig.json
*.vsix

.github/
.mypy_cache/
.vscode/
.vscode-test/
img/
node_modules/
out/
schemas/
src/
test/
tmp-*/
tools/
**/*.map

!.github/ISSUE_TEMPLATE/bug-report.md
!img/logo-ltex.png
