.vscode/
.vscode-test/
.gitattributes
.gitignore
.gitmodules
.travis.yml
lib/
out/test/
src/
test/
*.vsix
tsconfig.json
**/*.map
!lib/languagetool-languageserver/build/install/languagetool-languageserver/
