.vscode/
.vscode-test/
.gitattributes
.gitignore
.gitmodules
.travis.yml
img/*.svg
lib/
node_modules/
out/
src/
test/
*.vsix
tsconfig.json
webpack.config.js
**/*.map
!lib/languagetool-languageserver/build/install/languagetool-languageserver/
