<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "css/syntax.css" | relative_url }}">

<link rel="stylesheet" type="text/css" href="{{ "css/font-awesome.min.css" | relative_url }}">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ "css/modern-business.css" | relative_url }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "css/customstyles.css" | relative_url }}">
<link rel="stylesheet" href="{{ "css/boxshadowproperties.css" | relative_url }}">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="{{ "css/theme-blue.css" | relative_url }}">
<link rel="stylesheet" href="{{ "css/vscode-customizations.css" | relative_url }}">

<script src="{{ "js/jquery.min.js" | relative_url }}"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
<script src="{{ "js/jquery.navgoco.min.js" | relative_url }}"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="{{ "js/bootstrap.min.js" | relative_url }}"></script>
<!-- Anchor.js -->
<script src="{{ "js/anchor.min.js" | relative_url }}"></script>
<script src="{{ "js/toc.js" | relative_url }}"></script>
<script src="{{ "js/customscripts.js" | relative_url }}"></script>

<link rel="shortcut icon" href="{{ "images/logo-ltex.svg" | relative_url }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
